[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[user]
	name = Quynh Nguyen
	email = quynh.xq@gmail.com
[alias]
  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  a = add
  ap = add --patch

  amend = commit --amend -c HEAD
  amendc = commit --amend -C HEAD

  alias = "!git config -l | grep alias | cut -c 7-"

  b = branch
  # delete local branches except master
  bd = "!git branch | grep -v master | xargs git branch -d"
  # delete remote tracking branches except master
  # bd-remote = "!git branch -r | grep -v master|HEAD | xargs git branch -d -r"

  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose
  
  d = diff
  ds = diff --stat
  dc = diff --cached

  rh = reset --hard HEAD

  s = status

  sp = stash pop
  ss = stash save -u

  co = checkout
  cob = checkout -b

  p = pull
  ps = push

