[user]
	name = Quynh Nguyen
	email = quynh.xq@gmail.com

# https://gist.github.com/pksunkara/988716
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
	  excludesfile = ~/.gitignore_global

[alias]
    a = add
    ap = add -p

    # list branches sorted by last modified
    b = branch
    b2 = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    bd = "!git branch | grep -v 'master' | xargs git branch -D"
    # Delete all remote tracking branches for all remotes.
    bd-remote = "!git branch -r | grep -v master|HEAD | xargs -L 1 git branch -rD"


    # Remove ignored files
    clean = clean -n

    c = commit --verbose
    ca = commit -a --verbose
    camend = commit --amend --verbose
    cm = commit -m
    cam = commit -a -m

    co = checkout
    cob = checkout -b

    d = diff
    ds = diff --stat
    dc = diff --cached
    dh = diff HEAD~1

    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad\\ %C(red)%d\\ %Creset%s\\ %Cblue\\ [%cn]" --decorate --date=format:'%a_%d_%m %H:%M'
    # Doesn't work yet
    # lfind = "!git log --all --grep=\"$1\""
    lg = log --pretty=format:"%h\\ %s" --oneline --graph --decorate --color
    lh = log -1

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"


    p = pull 
    ps = push
    psu = !git push --set-upstream origin `git symbolic-ref --short HEAD`

    s = status -s
    sh = show
    
    rh = reset HEAD
    rhh = reset --hard HEAD
    rhh1 = reset --hard HEAD^1

[diff]
	tool = diffmerge

[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/quynhnguyen/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/quynhnguyen/.stCommitMsg
